<ul class="socialmedia">
    <li><a href='https://www.facebook.com/Yohber17'>
      <fa-icon class="iconlink" [icon]="faFacebook"></fa-icon>
      </a>
    </li>
    <li><a href='https://codepen.io/Yohber2'>
        <fa-icon class="iconlink" [icon]="faCodepen"></fa-icon>
      </a>
    </li>
    <li><a href='https://github.com/yohannBernard411'>
        <fa-icon class="iconlink" [icon]="faGithub"></fa-icon>
      </a>
    </li>
    <li><a href='https://twitter.com/Yohann83654858'>
        <fa-icon class="iconlink" [icon]="faTwitter"></fa-icon>
      </a>
    </li>
    <li><a href='https://www.linkedin.com/in/yohber/'>
        <fa-icon class="iconlink" [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
  </ul>