<div class='contact'>
  <app-margetitle [title]="'Contact'" [rank]="3"></app-margetitle>
  <div class='screencontact'>
    <div class="coordonnees">
      <p><fa-icon class="iconlink" [icon]="faSmile"></fa-icon>Yohann BERNARD</p>
      <p><fa-icon class="iconlink" [icon]="faMailReply"></fa-icon>yohannb215@gmail.com</p>
      <p><fa-icon class="iconlink" [icon]="faPhone"></fa-icon><a href="tel:0621891221" class='phonenum'>06.21.89.12.21</a></p>
    </div>
    <app-formulaire-contact></app-formulaire-contact>
  </div>
</div>
