<div id="biotexte">
  <div class="para1" [style.display]="buttonState ? 'block' : 'none'">
    <p>Yohann BERNARD</p>
    <p>39 years old</p>
    <p>WEB Developer full-stack</p>
  </div>
  <div class="para2" [style.display]="buttonState ? 'block' : 'none'">
    <p>After 15 years in the field of aeronautics, and a retraining (for health reasons).</p>
    <p>I am a full-stack web developer with a particular attraction for algorithms.</p>
  </div>
  <div class="para3"  [style.display]="buttonState ? 'none' : 'block'">
    <p>Welcome to my online portfolio! I am Bernard Yohann, a professional passionate about web development and currently in retraining. I am looking for training to complete my skills and meet the expectations of a recruiter as closely as possible.</p>
    <p>After several years of experience as an Adjuster in aeronautics, I had to face a major health challenge: my left ankle lost all its cartilage, which led me to consider a professional retraining. I have Recognition as a Disabled Worker (RQTH) which testifies to my determination to continue to excel in my career despite these constraints.</p>
    <p>My passion for computer programming goes back many years. I am fascinated by the possibility of creating projects from scratch and seeing them come to life. I acquired skills in languages ​​such as Java, JavaScript, and the Angular and Spring Boot Frameworks, which I used to develop various personal projects, including an E-commerce site.</p>
    <p>To ensure that I follow the path of success in my retraining, I invested in my training. As an autodidact I took several online courses on important topics such as Javascript, Angular, Java, Spring Boot, Agile Method (Scrum), I also read several books on Google SEO, Java, Spring Boot .</p>
    <p>What sets me apart as a professional is my experience of more than 15 years in teamwork, my respect for procedures and my autonomy. These transferable skills, developed throughout my career, allow me to be a valuable asset to any project or team in which I invest myself.</p>
    <p>I am aware of the challenges that await me, but my willingness to learn, my determination and my ability to adapt quickly allow me to face them with confidence. I am convinced that my retraining in web development is the ideal path for me, combining my passion for programming and my desire to evolve in a constantly evolving field.</p>
    <p>Feel free to contact me via the contact form below. I look forward to talking with you and sharing my passion for web development.</p>
  </div>
</div>