<div class='accueil'>
  <app-margetitle [title]="'Welcome'" [rank]="0"></app-margetitle>
    <div class='skills'>
      <h2 class='webdev'><span class='web'>Web</span><span class='dev'> Developer</span></h2>
      <div class='fields'>
        <p class='offset1'><strong>Design:</strong> FIGMA</p>
        <p class='offset2'><strong>Front-end:</strong> HTML CSS JS</p>
        <p class='offset3'><strong>Framework:</strong> ANGULAR</p>
        <p class='offset4'><strong>Back-end:</strong> JAVA</p>
        <p class='offset5'><strong>Database:</strong> MYSQL</p>
      </div>
    </div>
  </div>